* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #faf8ef;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
    color: #776e65;
}

.visible {
    display: flex !important;
}

.wrapper {
    margin: 0 auto; 
    margin-top: 80px;
}

.game-container {
    position: relative;
}

.message {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.game-over {   
    background-color: #eee4daba;
}

.intro {
    display: flex;
    justify-content: space-between;
}

.description {
    line-height: 42px;
}

.button {
    background: #8f7a66;
    border-radius: 3px;
    padding: 0 20px;
    color: #f9f6f2;
    height: 40px;
    width: 100px;
    line-height: 42px;
    cursor: pointer;
    display: block;
    text-align: center;
    font-weight: bold;
}

table {
    background-color: #bbada0;
    margin: 0 auto;
    margin-top: 40px;
    border-spacing: 15px;
    border-radius: 5px;
}

td {
    background-color: #cdc1b4;
    border-radius: 5px;
    width: 107px;
    height: 107px;
    text-align: center;
    font-size: 55px;
    font-weight: bold;
    color: white;    
    transform: scale(1);    
    transition: transform 100ms;
}

h1 {
    font-size: 80px;
    font-weight: bold;
    display: block;   
}

h2 {
    font-size: 60px;
    font-weight: bold;
    height: 60px;
    line-height: 60px;
    margin-bottom: 30px;
}

.empty {
    background-color: #cdc1b4;    
}

.num2 {
    color: #776e65;
    background-color: #eee4da;    
}  

.num4 {
    color: #776e65;
    background-color: #ede0c8;       
} 

.num8 {
    background-color: #f2b179;       
}

.num16 {
    background-color: #f59563; 
}

.num32 {
    background-color: #f67c5f; 
}

.num64 {
    background-color: #f65e3b; 
}

.num128 {
    background-color: #edcf72; 
}

.num256 {
    background-color: #edcf72; 
}

.num512 {
    background-color: #edcf72; 
}

.num1024 {
    font-size: 35px;
    background-color: #edcf72; 
}

.num2048 {
    font-size: 35px;
    background-color: #edcf72; 
}

.great  {
    font-size: 35px;
    background-color: #222222; 
}